<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Jokes Juke.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E7E7EE4F1E4EB859002F1F2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7E7EE681E4EB859002F1F2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7E7EE731E4EB859002F1F2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
